/* 优质资源 */
.comprehensive-hd,
.ab-resources-hd,
.industrial-hd {
  height: 7rem;
  background-image: url('../img/hd-004.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bonded-factory-title,
.apartment-title,
.laboratory-title,
.b-factory-title,
.a-factory-title,
.innovation-park-title,
.comprehensive-title,
.industrial-title,
.ab-resources-title {
  width: 100;
  height: 2.65rem;
  /* border-top: 2px solid #dedede; */
  position: relative;
}
.bonded-factory-title img,
.apartment-title img,
.laboratory-title img,
.b-factory-title img,
.a-factory-title img,
.innovation-park-title img,
.comprehensive-title img,
.industrial-title img,
.ab-resources-title img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.ab-resources-main {
  background-color: #f0f0f0;
  /* padding: 0 2.4rem; */
}
.ab-resources-main .resources-main-top {
  width: 100%;
  min-height: 5.2rem;
  background-image: url('../img/bg-008.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  /* padding: 0.5rem 1rem; */
}
.ab-resources-main .resources-main-top .mt {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  margin: 1.4rem auto 0 auto;
  text-align: center;
}
.ab-resources-main .resources-main-top .mt a {
  display: inline-block;
  margin: 0 0.5rem;
  text-align: center;
}
.ab-resources-main .resources-main-top .mt span {
  display: inline-block;
  margin-top: 0.2rem;
  color: #fff;
}
.ab-resources-main .resources-main-top div img {
  display: block;
  margin: auto;
}

.ab-resources-main .resources-main-bottom {
  padding: 0.8rem 2.4rem 1rem 2.4rem;
}

.ab-resources-main .resources-main-bottom img {
  display: block;
  width: 100%;
}

.industrial-main {
}
.industrial-main h1 {
  margin: 0;
  padding: 0 2.2rem;
  text-align: left;
  font-size: 0.3rem;
  color: #b2904e;
  padding-bottom: 0.7rem;
}
.content-four,
.content-three,
.content-sec {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
}
.content-five,
.content-four,
.content-sec {
  background-color: #f0f0f0;
}
.content-sec h2 {
}

.content-four h4 img,
.content-three h3 img,
.content-sec h2 img {
  display: block;
  margin: auto;
  max-width: 1.05rem;
}
.content-four p,
.content-three p,
.content-sec p {
  font-size: 0.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.content-four span,
.content-three span,
.content-sec span {
  font-weight: bold;
}

.content-five {
  display: table;
  width: 100%;
  padding-top: 0.2rem;
}

.content-five .five-left {
  display: table-cell;
  width: 45%;
  text-align: right;
  vertical-align: middle;
}
.content-five .five-right {
  padding-top: 0.4rem;
  padding-left: 1.6rem;
  position: relative;
}
.content-five img {
  display: block;
}

.content-five .five-left img {
  margin-left: auto;
}
.content-five .five-right img {
}
.content-five .five-right p {
  color: #b3904e;
  font-weight: bold;
}
.five-right-top,
.five-right-center,
.five-right-bottom {
  position: absolute;
}
.five-right-top {
  top: 0.4rem;
  left: 2.6rem;
}
.five-right-center {
  top: 3.5rem;
  left: 2.6rem;
}
.five-right-bottom {
  bottom: -0.3rem;
  left: 2.6rem;
}
.five-right-top p,
.five-right-top span,
.five-right-center p,
.five-right-center span,
.five-right-bottom p,
.five-right-bottom span {
  display: block;
}
.contenr-bottom {
  text-align: center;

  background-color: #f0f0f0;
}

.contenr-bottom p {
  display: inline-block;
  margin: 0 0.2rem;
  padding: 0.6rem 0;
}
.contenr-bottom p img {
  display: block;
  max-width: 2rem;
  margin: auto;
  border: 8px solid #d8d8d8;
}
.contenr-bottom p span {
  display: block;
  font-weight: 500;
}
.contenr-bottom b {
  display: block;
  font-size: 0.3rem;
  font-weight: 500;
  padding: 0.4rem 0 0.8rem 0;
}

/* 综保区 */
.comprehensive-main .main-top {
  width: 100%;
  min-height: 9.1rem;
  background-image: url('../img/bg-010.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  color: #fff;

  /* padding: 0.5rem 1rem; */
}
.main-top .main-top-content {
  position: absolute;
  top: 2rem;
  right: 0;
  bottom: 2.4rem;
  left: 10%;
  border-bottom: 2px solid #fff;
}
.main-top .main-top-content .content-left {
  position: absolute;
  width: 5.6rem;
  bottom: 0.4rem;
  left: 0;
}
.main-top .main-top-content .content-left h2 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0 0.4rem 0;
  letter-spacing: 0.1rem;
}
.main-top .main-top-content .content-left p {
  margin: 0;
  letter-spacing: 0.1rem;
}
.main-top .main-top-content .content-right {
  position: absolute;
  bottom: 0.4rem;
  right: 2%;
}

.main-top .main-top-content .content-right span {
  display: inline-block;
  /* width: 1.2rem; */
  height: auto;
  padding: 0.2rem;
  border: 2px solid #fff;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  margin-right: 0.2rem;
}

.main-top .main-top-content .content-right span b {
  display: block;
  font-weight: normal;
}
.main-bottom {
  padding: 1rem 0;
}
.main-bottom .main-bottom-title {
  width: 3.8rem;
  margin: 0 auto;
  border-top: 5px solid #b3904e;
  text-align: center;
  letter-spacing: 0.06rem;
  color: #b3904e;
  font-size: 0.3rem;
}
.main-bottom .main-bottom-title h3 {
  margin: 0.2rem 0 0 0;
}
.main-bottom-title b {
  display: block;
}

.main-bottom-content {
  display: table;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.8rem;
}

.main-bottom-content dl {
  display: table-cell;
}

.main-bottom-content dl dd {
  margin: 0;
  padding: 0.1rem 0;
  color: #b2904e;
}

.introduce-hd {
  height: 7rem;
  background-image: url('../img/hd-005.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .introduce .introduce-main {
  border: 1px solid red;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
.introduce-main a {
  width: 2.6rem;
  height: 1.6rem;
  border: 1px solid red;
  display: inline-block;
  margin: 0.1rem 0.12rem;

  vertical-align: middle;
}
.introduce-main img {
  display: block;
  margin: auto;
  width: 2rem;
  height: auto;
} */

.introduce .introduce-main {
  padding: 0.5rem 0;
  width: 80%;
  margin: 0 auto;
}
.introduce-main a {
  float: left;
  width: 2.6rem;
  height: 1.6rem;
  border: 1px solid #cecece;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.36rem;
  position: relative;
}
.introduce-main a:hover {
  box-shadow: 5px 5px 5px 5px #cecece;
}
.introduce-main img {
  position: absolute;
  margin: auto;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* 研发创新园 */
.innovation-park-hd {
  height: 12rem;
  background-image: url('../img/hd-006.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.innovation-park-main {
  height: auto;
  background-image: url('../img/bg-011.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.4rem;
}
.innovation-park-main .park-main-carousel {
  position: relative;
  width: 49%;
  /* height: 7.4rem; */
}
.park-main-carousel .carousel-pagination {
  position: relative;
  height: 0.4rem;

  text-align: center;
  width: 100%;
}
.park-main-carousel .park-main-carousel-pagination {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 auto;
  color: #b3904e;
  z-index: 1;
}
.park-main-carousel .btn-prev-next {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1.6rem;
  height: 0.4rem;
  margin: 0 auto;
}
.park-main-carousel .swiper-slide img {
  display: block;
  width: 100%;
}
.park-main-carousel .swiper-slide .slider-yfjs-img {
  position: absolute;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
}
.park-main-carousel .swiper-slide p {
  min-height: 4rem;
  max-height: 5rem;
  line-height: 2;
  margin: 0;
  padding: 0.4rem;
  color: #b3904e;
  overflow: hidden;
  background-color: #fff;
}
.park-main-carousel .swiper-button-next,
.park-main-carousel .swiper-button-prev {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.park-main-carousel .swiper-button-prev {
  background-image: url('../img/pag-1.png');
}
.park-main-carousel .swiper-button-next {
  background-image: url('../img/pag-2.png');
}

/* 右侧 */
.park-main-right {
  width: auto;
}

.park-main-right {
  width: 50%;

  position: relative;
  padding-top: 0.2rem;
}
.park-main-right a {
  display: inline-block;
  width: 1.72rem;
  height: 1.68rem;
  margin: auto auto 0.4rem 0.4rem;
  padding: 0.1rem;
  background-color: #e4e3e3;
  border: 0.14rem solid #fff;
  border-radius: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 50px 15px rgba(200, 200, 200, 0.9);
}

.park-main-right a:hover {
  box-shadow: 0px 0px 50px 15px rgba(150, 150, 150, 0.9);
  transition: box-shadow 0.5s;
}
.park-main-right a p {
  margin: 0;
  width: 100%;
  height: 65%;
  position: relative;
}
.park-main-right a p img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.park-main-right a span {
  display: block;
  width: 100%;
  height: 34%;
  text-align: center;
}
.park-main-right a span b {
  display: block;
  font-weight: 500;
}

.innovation-park-address .dz-title {
  margin: 0.7rem 0;
}
.innovation-park-address .dz-title img {
  display: block;
  width: 1.26rem;
  height: 1.1rem;
  margin: 0 auto;
}

.innovation-park-address .dz-content {
  width: 100%;
  height: auto;
  background-image: url('../img/address-bg-2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.innovation-park-address .dz-content .dz-content-left {
  position: relative;
  width: 40%;
}
.innovation-park-address .dz-content .dz-content-left img {
  display: block;
  width: 100%;
}
.innovation-park-address .dz-content .dz-content-left p {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

/*  A区标厂 B区标厂 实验室 公寓楼*/
.bonded-factory-hd,
.laboratory-hd,
.b-factory-hd,
.a-factory-hd {
  height: 12rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a-factory-hd {
  background-image: url('../img/hd-007.jpg');
}
.b-factory-hd {
  background-image: url('../img/hd-008.jpg');
}
.laboratory-hd {
  background-image: url('../img/hd-009.jpg');
}
.apartment-hd {
  background-image: url('../img/hd-010.jpg');
}
.bonded-factory-hd {
  background-image: url('../img/hd-011.jpg');
}

.a-factory .a-factory-title {
}
.bonded-factory-main,
.apartment-main,
.laboratory-main,
.b-factory-main,
.a-factory-main {
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.4rem;
}
.bonded-factory-main {
  background-image: url('../img/bg-015.jpg');
}
.apartment-main {
  background-image: url('../img/bg-015.jpg');
}
.laboratory-main {
  background-image: url('../img/bg-014.jpg');
}
.b-factory-main {
  background-image: url('../img/bg-013.jpg');
}
.a-factory-main {
  background-image: url('../img/bg-012.jpg');
}

.bonded-factory-main .bonded-factory-carousel,
.apartment-main .apartment-carousel {
  width: 56%;
  margin-left: 0.4rem;
}
.bonded-factory-main .bonded-factory-carousel,
.laboratory-main .laboratory-carousel,
.b-factory-main .b-factory-carousel,
.a-factory-main .a-factory-carousel {
  position: relative;
  width: 49%;
  /* height: 7.4rem; */
}
.bonded-factory-carousel .carousel-pagination,
.apartment-carousel .carousel-pagination,
.laboratory-carousel .carousel-pagination,
.b-factory-carousel .carousel-pagination,
.a-factory-carousel .carousel-pagination {
  position: relative;
  height: 0.4rem;

  text-align: center;
  width: 100%;
}
.bonded-factory-carousel .bonded-factory-carousel-pagination,
.apartment-carousel .apartment-carousel-pagination,
.laboratory-carousel .laboratory-carousel-pagination,
.b-factory-carousel .b-factory-carousel-pagination,
.a-factory-carousel .a-factory-carousel-pagination {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 auto;
  color: #b3904e;
  z-index: 1;
}
.bonded-factory-carousel .btn-prev-next,
.apartment-carousel .btn-prev-next,
.laboratory-carousel .btn-prev-next,
.b-factory-carousel .btn-prev-next,
.a-factory-carousel .btn-prev-next {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1.6rem;
  height: 0.4rem;
  margin: 0 auto;
}
.bonded-factory-carousel .swiper-slide img,
.apartment-carousel .swiper-slide img,
.laboratory-carousel .swiper-slide img,
.b-factory-carousel .swiper-slide img,
.a-factory-carousel .swiper-slide img {
  display: block;
  width: 100%;
}
.bonded-factory-carousel .swiper-slide .slider-yfjs-img,
.apartment-carousel .swiper-slide .slider-yfjs-img,
.laboratory-carousel .swiper-slide .slider-yfjs-img,
.b-factory-carousel .swiper-slide .slider-yfjs-img,
.a-factory-carousel .swiper-slide .slider-yfjs-img {
  position: absolute;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
}
.bonded-factory-carousel .swiper-slide p,
.apartment-carousel .swiper-slide p,
.laboratory-carousel .swiper-slide p,
.b-factory-carousel .swiper-slide p,
.a-factory-carousel .swiper-slide p {
  min-height: 4rem;
  max-height: 5rem;
  line-height: 2;
  margin: 0;
  padding: 0.4rem;
  color: #b3904e;
  overflow: hidden;
  background-color: #fff;
}
.bonded-factory-carousel .swiper-button-next,
.bonded-factory-carousel .swiper-button-prev,
.apartment-carousel .swiper-button-next,
.apartment-carousel .swiper-button-prev,
.laboratory-carousel .swiper-button-next,
.laboratory-carousel .swiper-button-prev,
.b-factory-carousel .swiper-button-next,
.b-factory-carousel .swiper-button-prev,
.a-factory-carousel .swiper-button-next,
.a-factory-carousel .swiper-button-prev {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bonded-factory-carousel .swiper-button-prev,
.apartment-carousel .swiper-button-prev,
.laboratory-carousel .swiper-button-prev,
.b-factory-carousel .swiper-button-prev,
.a-factory-carousel .swiper-button-prev {
  background-image: url('../img/pag-1.png');
}
.bonded-factory-carousel .swiper-button-next,
.apartment-carousel .swiper-button-next,
.laboratory-carousel .swiper-button-next,
.b-factory-carousel .swiper-button-next,
.a-factory-carousel .swiper-button-next {
  background-image: url('../img/pag-2.png');
}
.bonded-factory-carousel p b,
.apartment-carousel p b {
  display: block;
}
/* 右侧 */
.bonded-factory-right,
.apartment-right,
.laboratory-right,
.b-factory-right,
.a-factory-right,
.park-main-right {
  width: auto;
}
/* 公寓楼 保税工厂 */
.bonded-factory-right,
.apartment-right {
  width: 40%;
  position: relative;
  padding-top: 0.2rem;
}
.laboratory-right,
.b-factory-right,
.a-factory-right,
.park-main-right {
  width: 50%;

  position: relative;
  padding-top: 0.2rem;
}
.bonded-factory-right a,
.apartment-right a,
.laboratory-right a,
.b-factory-right a,
.a-factory-right a,
.park-main-right a {
  display: inline-block;
  width: 1.72rem;
  height: 1.68rem;
  margin: auto auto 0.4rem 0.4rem;
  padding: 0.1rem;
  background-color: #e4e3e3;
  border: 0.14rem solid #fff;
  border-radius: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 50px 15px rgba(200, 200, 200, 0.9);
}
.bonded-factory-right a:hover,
.apartment-right a:hover,
.laboratory-right a:hover,
.b-factory-right a:hover,
.a-factory-right a:hover,
.park-main-right a:hover {
  box-shadow: 0px 0px 50px 15px rgba(150, 150, 150, 0.9);
  transition: box-shadow 0.5s;
}
.bonded-factory-right a p,
.apartment-right a p,
.laboratory-right a p,
.b-factory-right a p,
.a-factory-right a p,
.park-main-right a p {
  margin: 0;
  width: 100%;
  height: 65%;
  position: relative;
}
.bonded-factory-right a p img,
.apartment-right a p img,
.laboratory-right a p img,
.b-factory-right a p img,
.a-factory-right a p img,
.park-main-right a p img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bonded-factory-right a span,
.apartment-right a span,
.laboratory-right a span,
.b-factory-right a span,
.a-factory-right a span,
.park-main-right a span {
  display: block;
  width: 100%;
  height: 34%;
  text-align: center;
}
.bonded-factory-right a span b,
.apartment-right a span b,
.laboratory-right a span b,
.b-factory-right a span b,
.a-factory-right a span b,
.park-main-right a span b {
  display: block;
  font-weight: 500;
}

.bonded-factory-address .dz-title,
.apartment-address .dz-title,
.laboratory-address .dz-title,
.b-factory-address .dz-title,
.a-factory-address .dz-title,
.innovation-park-address .dz-title {
  margin: 0.7rem 0;
}
.bonded-factory-address .dz-title img,
.apartment-address .dz-title img,
.laboratory-address .dz-title img,
.b-factory-address .dz-title img,
.a-factory-address .dz-title img,
.innovation-park-address .dz-title img {
  display: block;
  width: 1.26rem;
  height: 1.1rem;
  margin: 0 auto;
}

.bonded-factory-address .dz-content,
.apartment-address .dz-content,
.laboratory-address .dz-content,
.b-factory-address .dz-content,
.a-factory-address .dz-content,
.innovation-park-address .dz-content {
  width: 100%;
  height: auto;
  background-image: url('../img/address-bg-2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bonded-factory-address .dz-content .dz-content-left,
.apartment-address .dz-content .dz-content-left,
.laboratory-address .dz-content .dz-content-left,
.b-factory-address .dz-content .dz-content-left,
.a-factory-address .dz-content .dz-content-left,
.innovation-park-address .dz-content .dz-content-left {
  position: relative;
  width: 40%;
}
.bonded-factory-address .dz-content .dz-content-left img,
.apartment-address .dz-content .dz-content-left img,
.laboratory-address .dz-content .dz-content-left img,
.b-factory-address .dz-content .dz-content-left img,
.a-factory-address .dz-content .dz-content-left img,
.innovation-park-address .dz-content .dz-content-left img {
  display: block;
  width: 100%;
}
.bonded-factory-address .dz-content .dz-content-left p,
.apartment-address .dz-content .dz-content-left p,
.laboratory-address .dz-content .dz-content-left p,
.b-factory-address .dz-content .dz-content-left p,
.a-factory-address .dz-content .dz-content-left p,
.innovation-park-address .dz-content .dz-content-left p {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
